<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/custom/dashboard.css">

    <!-- Fonts External -->
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Italiana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" href="../../assets/img/icon.png">
    <script src="https://kit.fontawesome.com/7a87ef3e19.js"></script>

    <title>Dashboard Page | RestoServe</title>
</head>

<body>

    <div class="container-fluid pl-0">
        <div class="sidebar bg-salmon shadow">
            <div class="row">
                <a href="../../index.html" class="d-inline-block mx-auto mt-2">
                    <img src="../../assets/img/logo-admin.png" width="60" alt="">
                </a>
            </div>
            <div class="row mt-5 pt-5">
                <a href="transaksi.html" class="d-inline-block mx-auto mt-4">
                    <img src="../../assets/img/transaction-bar.png" width="52" alt="">
                </a>
            </div>
            <div class="row mt-4">
                <a href="laporan.html" class="d-inline-block mx-auto mt-4 pt-1">
                    <img src="../../assets/img/report-bar.png" width="55" alt="">
                </a>
            </div>
            <div class="row mt-4">
                <a href="laporan.html" class="d-inline-block mx-auto mt-4 pt-1 text-decoration-none">
                    <i class="fas fa-sign-out-alt fa-2x text-white text-center d-inline-block ml-2"></i><br>
                    <span class="font-default text-white" style="font-size: 10px;">LOGOUT</span>
                </a>
            </div>
        </div>
        <div class="container-menu">
            <div class="row mx-auto">
                <div class="col-md-6">
                    <div class="w-100 bg-white tab shadow mb-3">
                        <center>
                            <a href="transaksi.html">
                                <img src="../../assets/img/transaction-pic.png" class="mt-4" width="170" alt="">
                            </a>
                            <h1 class="font-default mt-2">Transaksi</h1>
                            <p class="font-default">Pemasukan terkini Rp.1.220.900 bulan ini</p>
                        </center>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="w-100 bg-white tab shadow mb-3">
                        <center>
                            <a href="">
                                <img src="../../assets/img/report-pic.png" class="mt-4" width="170" alt="">
                            </a>
                            <h1 class="font-default mt-2">Laporan</h1>
                            <p class="font-default">Laporan bulan juli sudah tersedia</p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../assets/js/jquery-3.4.1.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/custom/script.js"></script>

</body>

</html>