body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #ededed;
}

.font-default {
    font-family: 'Montserrat', sans-serif;
}

.bg-salmon {
    background-color: #ff4242;
}

/* Sidebar */
.sidebar {
    width: 80px;
    height: 100%;
    position: fixed;
}

/* Profile Bar */
.profile-bar {
    width: 230px;
    height: 50px;
    border-radius: 6px;
    /* position: absolute;
    bottom: 590px;
    float: right; */
}

.profile-bar h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
}

/* Container Menu */
.container-menu {
    margin-left: 95px;
    height: 656px;
    padding-top: 33px;
}
.tab {
    border-radius: 3px;
    height: 280px;
}
.tab h1 {
    font-size: 19pt;
}