@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.font-default {
    font-family: 'Montserrat', sans-serif;
}

.container-login {
    width: 100%;
    height: 656px;
    background: linear-gradient(180deg, #000000 0%, rgba(60, 60, 60, 0.34) 100%), url('../img/image.png');
    background-size: cover;
}

.box {
    width: 504px;
    height: 500px;
    background-color: white;
    background: rgba(0, 0, 0, 0.78);
}

form input {
    height: 40px;
    color: white;
    padding-left: 10px;
    background: rgba(196, 196, 196, 0.24);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}

.submit {
    width: 100%;
    height: 40px;
    background: #FF4242;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    color: white;
}

@media (max-width: 530px) {
    .box {
        width: 90%;
    }
}

@media (max-width: 375px) {
    form {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    form input {
        height: 30px;
        font-size: 14px;
    }
}