body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #ededed;
}

.font-default {
    font-family: 'Montserrat', sans-serif;
}

.bg-salmon {
    background-color: #ff4242;
}

/* Sidebar */
.sidebar {
    width: 80px;
    height: 100%;
    position: fixed;
}

/* Profile Bar */
.profile-bar {
    width: 230px;
    height: 50px;
    border-radius: 6px;
    /* position: absolute;
    bottom: 590px;
    float: right; */
}

.profile-bar h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
}

/* Container Menu */
.container-menu {
    margin-left: 95px;
    height: 656px;
}

.tab {
    border-radius: 3px;
    height: 280px;
    border: 4px solid #FF4242;
    border-radius: 7px;
}

.tab-order {
    border-radius: 3px;
    height: 170px;
    border: 4px solid #FF4242;
    border-radius: 7px;
}

.select-menu {
    height: 530px !important;
}

.tab h1 {
    font-size: 19pt;
}

.judul-menu {
    position: relative;
    top: -70px;
    z-index: 99;
    background: #FFFFFF;
    border-radius: 3px;
    width: 150px;
}

.harga-menu {
    position: relative;
    top: -80px;
    z-index: 99;
    background: #FF4242;
    color: white;
    border-radius: 3px;
    width: 130px;
}

.btn-edit {
    position: relative;
    top: -270px;
    right: 10px;
}

.btn-hapus {
    position: relative;
    right: 20px;
}

.top-bar {
    height: 70px;
    border-radius: 7px;
}

form input,
form select,
form textarea {
    height: 40px;
    color: #494949;
    padding-left: 10px;
    background: rgba(101, 101, 101, 0.24);
    border: 2px solid #494949;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
}

form textarea {
    height: 140px;
}

.cari {
    position: relative;
    top: 15px;
    float: right;
}
.border-salmon {
    border: 4px solid #FF4242;
    border-radius: 7px;
}

@media (max-width: 439px) {
    .btn-action {
        width: 100%;
        margin-right: 18px !important;
    }
}

@media (max-width: 455px) {
    .top-bar {
        height: 170px !important;
    }
    .cari {
        width: 100%;
        margin: 0 !important;
    }
    .cari input {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    .cari button {
        display: block;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .top-bar {
        height: 140px;
    }
    .col-pad {
        padding-left: 0px !important;
    }
}

@media (max-width: 575px) {
    .container-form {
        margin-left: 0px !important;
    }
    .last-action {
        padding-left: 0px !important;
        padding-right: 15px !important;
    }
    .new-btn {
        display: block;
        width: 100%;
    }
}

@media (max-width: 659px) {
    .top-bar {
        height: 140px;
    }
}

@media (max-width: 767px) {
    .modal h1 {
        text-align: center !important;
    }
    .modal p {
        text-align: center !important;
    }
    .modal button {
        margin-bottom: 10px;
    }
    .price {
        text-align: center;
        display: block !important;
    }
    .tab {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .harga-menu, .judul-menu {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width: 768px) {
    .tab {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .harga-menu, .judul-menu {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .border-salmon {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .tab-last {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 375px) {
    .border-salmon {
        width: 100%;
    }
    
}

@media (max-width: 1199px) {
    .col-action {
        margin-top: 30px !important;
    }
}

@media (max-width: 360px) {
    .fa-hamburger {
        display: none !important;
    }
}