<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/custom/registrasi.css">

    <!-- Fonts External -->
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Italiana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" href="../assets/img/icon.png">

    <title>Registrasi Page | RestoServe</title>
  </head>
  <body>

    <div class="container-login d-flex align-items-center">
        <div class="box mx-auto rounded">
            <center>
                <img src="../assets/img/logo.png" class="d-inline-block mx-auto" width="200" alt="">
            </center>
            <form action="" method="post" class="ml-5 mr-5 mt-4 font-default">
                <div class="form-group">
                    <label for="Username" class="text-white">Username</label><br>
                    <input type="text" class="w-100" placeholder="Masukan Username Anda" />
                </div>
                <div class="form-group">
                    <label for="Email" class="text-white">Email</label><br>
                    <input type="text" class="w-100" placeholder="Masukan Email Anda" />
                </div>
                <div class="form-group">
                    <label for="Password" class="text-white">Password</label><br>
                    <input type="password" class="w-100" placeholder="Masukan Password Anda" />
                </div>
                <div class="form-group">
                    <label for="Konfirmasi Password" class="text-white">Konfirmasi Password</label><br>
                    <input type="Password" class="w-100" placeholder="Masukan Konfirmasi Password Anda" />
                </div>
                <div class="form-group">
                    <a href="administrator/dashboard.html">
                        <button type="button" class="submit mt-3">REGISTRASI</button>
                    </a>
                </div>
            </form>
            <center>
                <a href="../index.html">
                    <img src="../assets/img/back.png" class="mx-auto" alt=""> 
                </a>
                <br>
                <br>
                <a href="login.html" class="text-decoration-none text-white font-default text-center">Have Account?</a>
            </center>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../assets/js/jquery-3.4.1.min.js" ></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/custom/script.js"></script>

</body>
</html>