<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/custom/order.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

    <!-- Fonts External -->
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Italiana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" href="../../assets/img/icon.png">
    <script src="https://kit.fontawesome.com/7a87ef3e19.js"></script>

    <title>Transaction Page | RestoServe</title>
</head>

<body>

    <div class="container-fluid pl-0">
        <div class="sidebar bg-salmon shadow">
            <div class="row">
                <a href="../../index.html" class="d-inline-block mx-auto mt-2">
                    <img src="../../assets/img/logo-admin.png" width="60" alt="">
                </a>
            </div>
            <div class="row mt-5">
                <a href="menu.html" class="d-inline-block mx-auto mt-3">
                    <img src="../../assets/img/menu-bar.png" width="45" alt="">
                </a>
            </div>
            <div class="row mt-3">
                <a href="order.html" class="d-inline-block mx-auto mt-4">
                    <img src="../../assets/img/order-bar.png" width="49" alt="">
                </a>
            </div>
            <div class="row mt-3">
                <a href="transaksi.html" class="d-inline-block mx-auto mt-4">
                    <img src="../../assets/img/transaction-bar.png" width="52" alt="">
                </a>
            </div>
            <div class="row mt-3">
                <a href="laporan.html" class="d-inline-block mx-auto mt-4 pt-1">
                    <img src="../../assets/img/report-bar.png" width="55" alt="">
                </a>
            </div>
            <div class="row mt-5 pt-3">
                <a href="laporan.html" class="d-inline-block mx-auto mt-4 pt-1 text-decoration-none">
                    <i class="fas fa-sign-out-alt fa-2x text-white text-center d-inline-block ml-2"></i><br>
                    <span class="font-default text-white" style="font-size: 10px;">LOGOUT</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container-menu pt-3">
        <div class="row mx-auto">
            <div class="top-bar w-100 bg-white mb-3 mr-3">
                <h1 class="fas fa-pizza-slice ml-4"></h1>
                <h3 class="font-default mt-3 pt-1 ml-2 d-inline-block font-weight-bold">Transaksi Tab</h3>
                <form action="" method="get" class="d-inline-block cari mr-4">
                    <input type="text" name="cari" id="cari" placeholder="Find Menu...">
                    <button class="btn bg-salmon text-white"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="row mx-auto mt-2">
            <a href="order_transaksi.html"
                class="bg-white font-default shadow mr-4 border-0 p-2 pr-3 pl-3 rounded font-weight-bold text-center text-dark btn-action mb-3">
                LIST ORDER
            </a>
            <a href="transaksi.html"
                class="bg-white font-default shadow mr-4 border-0 p-2 pr-3 pl-3 rounded font-weight-bold text-center text-dark btn-action mb-3">
                LIST TRANSAKSI
            </a>
        </div>
        <div class="row mt-4 ml-1 mr-3">
            <div class="table-responsive">
                <table class="table font-default rounded text-center">
                    <thead class="bg-salmon text-white">
                        <tr>
                            <th scope="col">Nama Pelanggan</th>
                            <th scope="col">No Meja</th>
                            <th scope="col">Waktu Order</th>
                            <th scope="col">Keterangan</th>
                            <th scope="col">Status Transaksi</th>
                            <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Wahid Hasyim</td>
                            <td>07B</td>
                            <td>10:09:07 WIB</td>
                            <td>-</td>
                            <td><span class="badge badge-warning">Belum Dibayar</span></td>
                            <td>
                                <button class="btn btn-sm btn-light shadow" data-toggle="modal"
                                    data-target="#exampleModalMenu">INSERT TRANSAKSI</button>
                            </td>
                            <div class="modal fade" id="exampleModalMenu" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-default" id="exampleModalLabel">Insert Transaksi
                                            </h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row mx-auto">
                                                <div class="col-3">
                                                    <img src="../../assets/img/pizza-buah.png" width="80"
                                                        class="border-salmon img-fluid" alt="">
                                                </div>
                                                <div class="col-4 col-sm-5 d-flex align-items-center">
                                                    <h5 class="font-default">Splitza Classic</h5>
                                                </div>
                                                <div class="col-1 d-flex align-items-center justify-content-center">
                                                    <h5 class="font-default">2x</h5>
                                                </div>
                                                <div class="col-3 d-flex align-items-center text-right">
                                                    <h5 class="font-default font-weight-bold">150.900</h5>
                                                </div>
                                            </div>
                                            <div class="row mx-auto mt-1">
                                                <div class="col-3">
                                                    <img src="../../assets/img/pizza-buah.png" width="80"
                                                        class="border-salmon img-fluid" alt="">
                                                </div>
                                                <div class="col-4 col-sm-5 d-flex align-items-center">
                                                    <h5 class="font-default">Splitza Classic</h5>
                                                </div>
                                                <div class="col-1 d-flex align-items-center justify-content-center">
                                                    <h5 class="font-default">1x</h5>
                                                </div>
                                                <div class="col-3 d-flex align-items-center text-right">
                                                    <h5 class="font-default font-weight-bold">150.900</h5>
                                                </div>
                                            </div>
                                            <div class="row mx-auto mt-5">
                                                <div class="col-md-12">
                                                    <h4 class="font-default text-center">Total Pembayaran</h4>
                                                    <h2 class="font-default text-center font-weight-bold">Rp. 301.900
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="row mx-auto mt-5 mb-4">
                                                <form action="" method="POST">
                                                    <input type="text" style="height: 45px;
                                                            color: #494949;
                                                            padding-left: 10px;
                                                            background: rgba(101, 101, 101, 0.24);
                                                            border: 2px solid #494949;
                                                            box-sizing: border-box;
                                                            border-radius: 6px;
                                                            font-family: 'Montserrat', sans-serif;" name=""
                                                        class="w-100 mr-3 ml-3" placeholder="Masukan Uang Dibayar">
                                                    <button type="submit"
                                                        class="btn bg-salmon mr-3 ml-3 btn-block font-default text-white mt-3">SUBMIT</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <td>Wahid Hasyim</td>
                            <td>07B</td>
                            <td>10:09:07 WIB</td>
                            <td>-</td>
                            <td><span class="badge badge-success">Sudah Dibayar</span></td>
                            <td>
                                <button class="btn btn-sm btn-primary shadow" data-toggle="modal"
                                    data-target="#exampleModalEdit"><i class="fas fa-pen"></i></button>
                                <button class="btn btn-sm btn-primary shadow" data-toggle="modal"
                                    data-target="#exampleModalDetail"><i class="fas fa-info-circle"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-default" id="exampleModalLabel">Insert Transaksi
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row mx-auto">
                        <div class="col-3">
                            <img src="../../assets/img/pizza-buah.png" width="80" class="border-salmon img-fluid"
                                alt="">
                        </div>
                        <div class="col-4 col-sm-5 d-flex align-items-center">
                            <h5 class="font-default">Splitza Classic</h5>
                        </div>
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <h5 class="font-default">2x</h5>
                        </div>
                        <div class="col-3 d-flex align-items-center text-right">
                            <h5 class="font-default font-weight-bold">150.900</h5>
                        </div>
                    </div>
                    <div class="row mx-auto mt-1">
                        <div class="col-3">
                            <img src="../../assets/img/pizza-buah.png" width="80" class="border-salmon img-fluid"
                                alt="">
                        </div>
                        <div class="col-4 col-sm-5 d-flex align-items-center">
                            <h5 class="font-default">Splitza Classic</h5>
                        </div>
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <h5 class="font-default">1x</h5>
                        </div>
                        <div class="col-3 d-flex align-items-center text-right">
                            <h5 class="font-default font-weight-bold">150.900</h5>
                        </div>
                    </div>
                    <div class="row mx-auto mt-5">
                        <div class="col-md-12">
                            <h4 class="font-default text-center">Total Pembayaran</h4>
                            <h2 class="font-default text-center font-weight-bold">Rp. 301.900</h2>
                        </div>
                    </div>
                    <div class="row mx-auto mt-5 mb-4">
                        <form action="" method="POST" class="w-100 mr-4">
                            <input type="text" style="height: 45px;
                                                color: #494949;
                                                padding-left: 10px;
                                                background: rgba(101, 101, 101, 0.24);
                                                border: 2px solid #494949;
                                                box-sizing: border-box;
                                                border-radius: 6px;
                                                font-family: 'Montserrat', sans-serif;" name="" class="w-100 mr-3 ml-3"
                                placeholder="Masukan Uang Dibayar">
                            <button type="submit"
                                class="btn bg-salmon mr-3 ml-3 btn-block font-default text-white mt-3">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-default" id="exampleModalLabel">Insert Transaksi
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row mx-auto">
                        <div class="col-3">
                            <img src="../../assets/img/pizza-buah.png" width="80" class="border-salmon img-fluid"
                                alt="">
                        </div>
                        <div class="col-4 col-sm-5 d-flex align-items-center">
                            <h5 class="font-default">Splitza Classic</h5>
                        </div>
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <h5 class="font-default">2x</h5>
                        </div>
                        <div class="col-3 d-flex align-items-center text-right">
                            <h5 class="font-default font-weight-bold">150.900</h5>
                        </div>
                    </div>
                    <div class="row mx-auto mt-1">
                        <div class="col-3">
                            <img src="../../assets/img/pizza-buah.png" width="80" class="border-salmon img-fluid"
                                alt="">
                        </div>
                        <div class="col-4 col-sm-5 d-flex align-items-center">
                            <h5 class="font-default">Splitza Classic</h5>
                        </div>
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <h5 class="font-default">1x</h5>
                        </div>
                        <div class="col-3 d-flex align-items-center text-right">
                            <h5 class="font-default font-weight-bold">150.900</h5>
                        </div>
                    </div>
                    <div class="row mx-auto mt-5">
                        <div class="col-md-12">
                            <h4 class="font-default text-center">Total Pembayaran</h4>
                            <h2 class="font-default text-center font-weight-bold">Rp. 301.900</h2>
                        </div>
                    </div>
                    <div class="row mx-auto mt-5 mb-4">
                        <div class="col-6 font-default">
                            <center>
                                <h4>Uang Dibayar</h4>
                                <h3 class="font-weight-bold">Rp. 150.000</h4>
                            </center>
                        </div>
                        <div class="col-6 font-default">
                            <center>
                                <h4>Uang Kembali</h4>
                                <h3 class="font-weight-bold">Rp. 150.000</h4>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../assets/js/jquery-3.4.1.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/custom/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <script>
        document.querySelector(".btn-delete").addEventListener('click', function (e) {
            e.preventDefault();
            swal({
                title: "Are You Sure?",
                type: "info",
                showCancelButton: true,
                confirmButtonText: "Delete It",
                confirmButtonColor: "#ff4242",
                cancelButtonColor: "#999999",
                reverseButtons: true,
                focusConfirm: false,
                focusCancel: true
            });
        });
    </script>

</body>

</html>